<li class='item'>
  <div class="item-tag">
      <a href='{{ .Permalink | relURL }}'>
        {{ if .Content -}}
          {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
          {{ $url := index ($urls) 0 }}
          {{ if $url }}

            {{ $url := (strings.TrimPrefix "<img src=\"" $url) -}}
            {{ $url := strings.TrimSuffix "\"" $url -}}
            {{ $url := safeHTMLAttr $url }}
            {{ printf "<div class=\"item-tag-image\" style=\"background-image: url(%s);\">" $url | safeHTML }}
          {{ else }}
            <div class="item-tag-image">
          {{ end }}
        {{ end -}}
      </div>
    </a>
    <div class="item-tag-description">
      <header class='item-header'>
        <div>
          <h1 class='item-title'>
            <a href='{{ .Permalink | relURL }}'>
              {{- .Title -}}
            </a>
          </h1>
        </div>
        <p>
          {{- truncate 185 .Summary -}}
        </p>
        
      </header> 
    </div>
  </div>
</li>